body {
  font-family: 'Lato', sans-serif;
  color: #797979;
}

.top-bar {
  background: transparent;
  height: 3rem;
}

.name img {
  height: 50px;
  margin-top: 10px;
}

.top-bar-section ul li {
  background: none;
  margin-top: 10px;
  padding: 0;

}

.top-bar-section ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  border: none;
  margin: 2px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  border-bottom: 2px solid #F8E450;
  margin-bottom: 5px;
  background: none;
  height: 40px;
}

.top-bar-section ul li a:hover {
  outline: 2px solid #F8E450;
  background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}

.tint {
  background-image: url('../images/home-hero.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.tint::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.hero {
  margin-top: 12%;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  text-align: left;
}

h3 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 1.5rem 0 3.5rem;
}

h4 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#signup-btn {
  background: #F8E450; 
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-right: 10%;
}

#scroll-arrow {
  margin-top: 11rem;
}

a.down-arrow:before {
  content: "";
  position: absolute;
  top: 50%;
}

.down-arrow:before {
  left: 35%;
  width: 3rem;
  height: 3rem;
  border-width: 0 4px 4px 0;
  border-style: solid;
  border-color: #FFFFFF;
  /*margin-top: .1rem;*/
  transform: rotate(45deg);
  text-align: center;
}

.connect-panel {
  background-image: url('../images/desk.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.connect-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.right-align {
  float: right;
  text-align: right;
}

.thin {
  margin-top: 12rem;
  font-weight: 400;
}

#house {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.raise-panel {
  background-image: url('../images/painting.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.raise-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

#camera {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.attract-panel {
  background-image: url('../images/wedding.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
  margin-bottom: 5rem;
}

.attract-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

#reward {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.feat {
  margin-left: 10% !important;
  margin-right: 0;
  max-width: 100%;
}

#mobile-headline {
  color: #797979;
  margin-top: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  border-bottom: 3px solid #F8E450;
  margin-top: 0;
}

ul.features {
  text-align: left;
  list-style-type: none;
  vertical-align: middle;
}

ul.features-mobile {
  text-align: center;
  list-style-type: none;
  display: block;
}


.feat-name, .feat-desc {
  color: #797979;
  padding-left: 15px;
}

.feat-name {
  margin-top: 4rem;
}

/*.left-border {
  border-left: 3px solid #F8E450;
}*/

#searchimg {
  display: block;
  width: 100% !important;
  height: auto !important;
  box-shadow: 1px 1px 3px 2px rgba(121, 121, 121, .4);
  margin-left: 2rem;
}

#searchimg-mobile {
  box-shadow: 1px 1px 3px 2px rgba(121, 121, 121, .4);
}

.testimonial-panel {
  background-color: #797979;
  height: auto;
  border-bottom: 3px solid #FFFFFF;
  margin-top: 5rem;
}

ul.testimonies {
  display: block;
  text-align: center;
  list-style-type: none;
  background: #FFFFFF;
  padding-bottom: 15px;
  margin-bottom: 7rem;
  margin-top: 3rem;
}

#eximg {
  padding-top: 2px;
}

blockquote {
  background: #FFFFFF;
  font-style: italic;
}

.testimonies p {
  background-color: #797979;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.testimonies em {
  letter-spacing: 1px;
  font-weight: 300;
}

h3#featured {
  margin-top: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  border-bottom: 3px solid #F8E450;
}

.cta-panel {
  background-image: url('../images/lastcall.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.cta-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.call {
  display: block;
  text-align: center;
}

h2#cta {
  margin-top: 9rem;
}

.centered {
  text-align: center;
  margin-top: 3rem;
}

#tagline {
  margin-top: 1rem;
}

#lastcall-btn {
  background: #F8E450; 
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
}

footer {
  background-color: #797979;
}

h6 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h6#copyright {
  text-align: left;
  padding-top: 20px;
}

h6#footer-links {
  text-align: center;
  padding-top: 20px;
}

#logo {
  height: 50px;
  float: right;
  margin: 10px 0;
}


/***** DASHBOARD *****/


.tint-dash {
  height: 7rem;
  background-color: #797979;
}

.tint-dash::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background: rgba(0, 0, 0, .3);
}

#profileimg {
  height: 1.5rem;
}

.ribbon, .sub-nav {
  position: relative;
}

.ribbon {
  margin-top: 10px;
  height: 2rem;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
}

.sub-nav {
  z-index: 2;
  display: inline-block;
  float: right;
  font-family: 'Lato', sans-serif;
  margin-top: -30px;
}

.sub-nav dd, .sub-nav dd a {
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.sub-nav dd a:hover {
  font-weight: 400;
}

.sub-nav dd.active a {
  background: #F8E450;
  color: #797979;
  font-weight: 300;
}


ul.event-banner {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.event-banner li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 3.5rem;
}

.charity-name, .event-name {
  margin-top: 15px;
}

.event-description {
  list-style-type: none;
  display: inline-block;
}

li.event-description {
  float: right;
  width: 100%;
}


.action-icons {
  display: block;
  text-align: center;
  margin: auto;
  vertical-align: bottom !important;
  padding-top: 10px;
}

#volunteer-icon {
  height: 2rem;
}

#message-icon {
  height: 1.25rem;
}

#message {
  margin-top: 10px;
}

.icon-label {
  font-size: .75rem;
  font-weight: 300;
}

#expand {
  width: 2.5rem;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-content {
  display: none;
}

/*.accordion-content.default {display: block;}*/


/***** MEDIA QUERIES *****/

/* iOS Portrait */

@media screen and (max-width: 767px) {

  #main-headline {
    text-align: center;
    margin-top: 4rem;
  }

  #main-subheadline {
    text-align: center;
  }

  #signup-btn {
    display: block;
    margin: auto;
    text-align: center;
  }

  .phone-hide {
    display: none;
  } 

  .attract-panel {
    margin-bottom: 3rem;
  }

  #copyright {
    text-align: center;
  }

  #logo {
    text-align: center;
  }

}

@media screen and (min-width: 768px) {

  .phone-show {
    display: none;
  }

}
