#browse, #browse-sub {
  display: none;
}



body {
  font-family: 'Lato', sans-serif;
  color: #797979;
}

.top-bar {
  background: transparent;
  height: 3rem;
}

.name img {
  height: 50px;
  margin-top: 10px;
}

.top-bar-section ul li {
  background: none;
  margin-top: 10px;
  padding: 0;

}

.top-bar-section ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  border: none;
  margin: 2px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  border-bottom: 2px solid #F8E450;
  margin-bottom: 5px;
  background: none;
  height: 40px;
}

.right-home-dash li.active {
  border-bottom: 2px solid #F8E450;
}

.top-bar-section ul li a:hover {
  /*outline: 2px solid #F8E450;*/
  background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}

.title-area {
  margin-left: 0;
  list-style-type: none;
}

.right-home {
  list-style-type: none;
  font-family: 'Lato';
  font-weight: 300;
  float: right;
  display: block;
  margin-top: 22px;
  opacity: 0.9;
}

.right-home-dash {
  list-style-type: none;
  font-family: 'Lato';
  font-weight: 300;
  float: right;
  display: inline-block;
  margin-top: 22px;
  opacity: 0.9;
  margin-left: 0;
}

.right-home-dash li {
  display: inline-block;
  margin-right: 1rem;
}

#profile-mobile {
  margin-right: 0px;
}

.right-home-dash a {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-size: 1rem;
}

.right-home-dash:hover {
  opacity: 1;
}

.right-home a {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-size: 1rem;
}

.right-home:hover {
  opacity: 1;
}

.mobile-top-nav {
  padding-left: 0;
}

.tint {
  background-image: url('../images/home-hero.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.tint::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.hero {
  margin-top: 12%;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  text-align: left;
}

h3 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 1.5rem 0 3.5rem;
}

h4 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#signup-btn {
  background: #F8E450;
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-right: 10%;
}

#scroll-arrow {
  margin-top: 11rem;
}

a.down-arrow:before {
  content: "";
  position: absolute;
  top: 50%;
}

.down-arrow:before {
  left: 35%;
  width: 3rem;
  height: 3rem;
  border-width: 0 4px 4px 0;
  border-style: solid;
  border-color: #FFFFFF;
  /*margin-top: .1rem;*/
  transform: rotate(45deg);
  text-align: center;
}

.connect-panel {
  background-image: url('../images/desk.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.connect-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.right-align {
  float: right;
  text-align: right;
}

.thin {
  margin-top: 12rem;
  font-weight: 400;
}

#house {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.raise-panel {
  background-image: url('../images/painting.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.raise-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

#camera {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.attract-panel {
  background-image: url('../images/wedding.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
  margin-bottom: 5rem;
}

.attract-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

#reward {
  height: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.feat {
  margin-left: 10% !important;
  margin-right: 0;
  max-width: 100%;
}

#mobile-headline {
  color: #797979;
  margin-top: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  border-bottom: 3px solid #F8E450;
  margin-top: 0;
}

ul.features {
  text-align: left;
  list-style-type: none;
  vertical-align: middle;
}

ul.features-mobile {
  text-align: center;
  list-style-type: none;
  display: block;
}

.feat-name, .feat-desc {
  color: #797979;
  padding-left: 15px;
}

.feat-name {
  margin-top: 4rem;
}


/*.left-border {
  border-left: 3px solid #F8E450;
}*/

#searchimg {
  display: block;
  width: 100% !important;
  height: auto !important;
  box-shadow: 1px 1px 3px 2px rgba(121, 121, 121, .4);
  margin-left: 2rem;
}

#searchimg-mobile {
  box-shadow: 1px 1px 3px 2px rgba(121, 121, 121, .4);
}

.testimonial-panel {
  background-color: #797979;
  height: auto;
  border-bottom: 3px solid #FFFFFF;
  margin-top: 5rem;
}

ul.testimonies {
  display: block;
  text-align: center;
  list-style-type: none;
  background: #FFFFFF;
  padding-bottom: 15px;
  margin-bottom: 7rem;
  margin-top: 3rem;
}

#eximg {
  padding-top: 2px;
}

blockquote {
  background: #FFFFFF;
  font-style: italic;
}

.testimonies p {
  background-color: #797979;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.testimonies em {
  letter-spacing: 1px;
  font-weight: 300;
}

h3#featured {
  margin-top: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  border-bottom: 3px solid #F8E450;
}

.cta-panel {
  background-image: url('../images/lastcall.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.cta-panel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.call {
  display: block;
  text-align: center;
}

h2#cta {
  margin-top: 9rem;
}

.centered {
  text-align: center;
  margin-top: 3rem;
}

#tagline {
  margin-top: 1rem;
}

#lastcall-btn {
  background: #F8E450;
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
}

footer {
  background-color: #797979;
}

h6 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h6#copyright {
  text-align: left;
  padding-top: 20px;
}

h6#footer-links {
  text-align: center;
  padding-top: 20px;
}

#logo {
  height: 50px;
  float: right;
  margin: 10px 0;
}


/***** DASHBOARD *****/

#dashboard {
  background-color: rgba(245, 245, 245, 1);
}


.tint-dash {
  height: 7rem;
  background-color: #797979;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.tint-dash::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background: rgba(0, 0, 0, .3);
}

a.dash-nav:hover {
  background-color: #797979;
  border: none;
}

#profileimg {
  height: 1.5rem;
}

input[type="search"] {
  height: 1.75rem;
}

.badge1 {
  position:relative;
}

.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top: 0px;
  right: 0px;
  font-size:.7em;
  background: #F8E450;;
  color: #797979;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
  opacity: 1;
}

.ribbon, .sub-nav {
  position: relative;
}

.ribbon {
  margin-top: 10px;
  height: 2rem;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
}

.sub-nav {
  z-index: 2;
  display: inline-block;
  float: right;
  font-family: 'Lato', sans-serif;
  margin-top: -30px;
}

.searchpad {
  float: left;
  padding: 0;
  width: 30%;
}

.sub-nav dd, .sub-nav dd a {
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.sub-nav dd a:hover {
  font-weight: 400;
}

.sub-nav dd.active a {
  background: #F8E450;
  color: #797979;
  font-weight: 300;
}

.event-list {
  margin-top: 2rem;
}

#charity-logo, #action-volunteer, #action-message {
  width: 15%;
}

#charity-info {
  width: 25%;
}

#charity-event {
  width: 20%;
}

#charity-logo {
  text-align: left;
  margin-left: -1rem;
  width: 10%;
}

ul.event-banner {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: .5rem;
}

.event-banner li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  /*margin-right: 5rem;*/
}

.charity-name, .event-name {
  margin-top: 15px;
}

/*.charity-name {
  min-width: 12rem;
  max-width: 12rem;
}*/

.event-description {
  list-style-type: none;
  display: inline-block;
}

li.event-description {
  float: right;
  width: 100%;
}


.action-icons {
  display: block;
  text-align: center;
  margin: auto;
  vertical-align: bottom !important;
  padding-top: 10px;
}

#volunteer-icon {
  height: 2rem;
}

#message-icon {
  height: 1.25rem;
}

#message {
  margin-top: 10px;
}

.icon-label {
  font-size: .75rem;
  font-weight: 300;
}

.expand {
  width: 2.5rem;
}

.accordion-style {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  text-align: center;
  background-color: #FFFFFF;
}

.accordion-style ul {
  display: table;
  text-align: center;
  width: 100%;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-content {
  display: none;
}

li#bannerArrow {
  float: right;
  margin-top: 30px;
  margin-right: 1rem;
}

.close-icon {
  content: url('../images/close.svg');
}

/*.accordion-content.default {display: block;}*/

/*

*/
/***** 404 Page ******/

.four-oh-four {
  background-image: url('../images/404.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  border-bottom: 3px solid #FFFFFF;
}

.four-oh-four::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.headline {
  font-family: 'Lato';
  opacity: 0.9;
  margin-top: 5%;
}

#fofheadline {
  font-family: 'Lato';
  color: #FFFFFF;
  font-size: 3rem;
  margin-top: 15%;
}

#fofbutton {
  width: 20rem;
  opacity: 0.9;
  border: 2px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

#fofbutton:hover {
  opacity: 1;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: none;
}



/***** MEDIA QUERIES *****/

/* iOS Portrait */

@media screen and (max-width: 767px) {


  #main-headline {
    text-align: center;
    margin-top: 4rem;
    font-size: 2.25rem;
  }

  #main-subheadline {
    text-align: center;
    font-size: 1.75rem;
  }

  #signup-btn {
    display: block;
    margin: auto;
    text-align: center;
  }

  .phone-hide {
    display: none;
  }

  .attract-panel {
    margin-bottom: 3rem;
  }

  .feat-name {
    font-size: 2rem;
  }

  #copyright {
    text-align: center;
  }

  #logo {
    text-align: center;
  }

  #charity-logo {
    margin-left: -3.5rem;
  }

  p.icon-label {
    margin-bottom: 1rem;
  }

  .tint-dash {
    height: 4.25rem;
  }

  .tint-dash:before {
    height: 4.25rem;
  }

  .name img {
    height: auto;
    margin-top: 15px;
    list-style-type: none;
  }

  .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top: -12px;
    right: -15px;
    font-size:.7em;
    background: #F8E450;;
    color: #797979;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
  }

  .title {
    padding-right: 0;
  }

  .row.sub {
    height: inherit;
  }

/*  nav {
    height: 4.25rem;
  }*/

  .ribbon {
    margin-top: 0;
  }

  dd {
    text-align: center;
  }

  #charity-info {
    display: none;
  }

  #charity-event {
    width: 45%;
  }

  #action-volunteer {
    width: 20%;
  }

  #action-message {
    display: none;
  }

  .sub-nav dt a, .sub-nav dd a, .sub-nav li a {
    padding-left: 0;
    padding-right: 0;
  }

  .sub-nav dt a, .sub-nav dd a, .sub-nav li a {
    margin-left: 0;
  }

}

@media only screen 
  and (min-device-width : 375px) // or 213.4375em or 3in or 9cm
  and (max-device-width : 667px) // or 41.6875em
  and (width : 667px) // or 41.6875em
  and (height : 375px) // or 23.4375em
  and (orientation : landscape) 
  and (color : 8)
  and (device-aspect-ratio : 375/667)
  and (aspect-ratio : 667/375)
  and (device-pixel-ratio : 2)
  and (-webkit-min-device-pixel-ratio : 2) 
  { 

    .right-home-dash li {
      margin-right: 2rem;
    }

    .name img {
      height: 20px;
    }

  }

@media screen and (min-width: 768px) {

  .phone-show {
    display: none;
  }

  #copyright {
    text-align: center;
  }


}
